apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: bader1937/multi-container-app-backend:PLACEHOLDER
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              value: mongodb://admin:admin@mongo:27017
