name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

env:
  BACKEND_IMAGE: docker.io/bader1937/backend
  FRONTEND_IMAGE: docker.io/bader1937/frontend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Backend tests
      run: |
        cd backend
        npm ci
        npm test -- --runInBand

    - name: Frontend build test
      run: |
        cd frontend
        npm ci
        npm run build

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & push backend
      run: |
        docker build -t $BACKEND_IMAGE:${{ github.sha }} ./backend
        docker push $BACKEND_IMAGE:${{ github.sha }}

    - name: Build & push frontend
      run: |
        docker build -t $FRONTEND_IMAGE:${{ github.sha }} ./frontend
        docker push $FRONTEND_IMAGE:${{ github.sha }}

   
